<nav>
  <a [routerLink]="['/propertyowner/create']">Create Property Owner</a> |
  <a [routerLink]="['/propertyowner/search']">Search Property Owner</a> |
  <a [routerLink]="['/property/create-property']">Create Property</a> |
  <a [routerLink]="['/property/search-property']">Search Properties</a> |
  <a [routerLink]="['/propertyrepair/create-repair']">Create Repair</a> |
  <a [routerLink]="['/propertyrepair/search-repair']">Search Repairs</a> 
</nav>
<div class="background">
<router-outlet></router-outlet> 
</div>
<footer>Footer</footer>
