nav a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    cursor: pointer;
  }
  
  nav a.active {
    color: darkblue;
    text-decoration: underline;
  }
 
  
  .delete-button {
    color: white;
    background-color: red;
    border: none;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  