 .delete-button {
    color: white;
    background-color: red;
    border: none;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    cursor: pointer;
  }
  
  nav a.active {
    color: darkblue;
    text-decoration: underline;
  }

  nav {
    background-color: aqua;
  }

  footer {
    background-color: aqua;
  }
  .background {
    background-image: url('/assets/images/technicobackround.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    width: 100%;
}